body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  position: relative;
  text-align: center;
  color:rgb(204, 6, 6);
}
img{
  width: 40%;
}
.top {
  position: absolute;
  top:5%;
  left:45%;  
}

.bottom {
  position: absolute;
  bottom:5%;
  left:45%;
}

